.content-produtoinicial {
  background: linear-gradient(135deg, #c0a0e2 0%, #87aef3 100%);
  min-height: 100vh;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-busca-produto {
  padding: 8px;
  width: 40vh;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-bottom: 20px;
}

.input-busca-produto:focus {
  border-color: #6bb3b3;
  outline: none;
}

.input-busca-produto::placeholder {
  color: #999;
}

.body-produtoinicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.table-produto-container {
  width: 100%;
  max-width: 1000px;
  overflow-x: auto;
  border-radius: 15px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

thead th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody td {
  padding: 8px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #d2d5d8;
}

.editar-button-table {
  background-color: #6f8bb488;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.editar-button-table:hover {
  background-color: #2c446888;
}

.editar-button-table img {
  max-width: 20px;
  max-height: 22px;
}

.btNovo-produto {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
}

.btNovo-produto button {
  font-size: 50px;
  width: 55px;
  height: 55px;
  border: none;
  background-color: #6f8bb488;
  color: #000000;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btNovo-produto button:hover {
  background-color: #2c446888;
}

/* Responsividade */
@media (max-width: 768px) {
  .table-produto-container {
    margin-top: 10px;
  }

  thead th,
  tbody td {
    padding: 6px;
    font-size: 14px; /* Ajusta o tamanho da fonte */
  }

  .btNovo-produto {
    bottom: 20px;
    right: 20px;
  }

  .btNovo-produto button {
    font-size: 40px;
    width: 45px;
    height: 45px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .input-busca-produto {
    max-width: 100%;
    margin-bottom: 15px;
  }
}
