h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ESTILO FORMULÁRIO */
.formulario {
    width: 45%;
    margin: 0 auto;
    margin-top: 35px; 
    font-family: 'Poppins', sans-serif;
}

.content {
    background: linear-gradient(135deg, #c0a0e2 0%, #87aef3 100%);
    height: 100vh;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
  }

/* ESTILO INPUT FORMULÁRIO */
.formulario input {
    width: 100%;
    height: 40px;
    border-radius: 10px; 
    background: #e0e3e6;
    border: none;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-bottom: 17px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

/* ESTILO LABEL FORMULÁRIO */
.formulario label {
    text-align: left;
}

/* ESTILO CONTAINER CPNJ E CEP */
.cnpj-cep-container{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

/* ESTILO CONTAINER CONTATO */
.contato-container {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

/* BOTÕES CRUD*/
.botoes-crud {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes-esquerda {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.botoes-direita {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.botoes-crud button {
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 50px;
    transition: background-color 0.2s ease;
}

/* Estilos específicos para cada botão */
button[name="btAlterar"] {
    background-color: #27AE60;
    color: #F8F8EC;
}

button[name="btDeletar"] {
    background-color: #c0392b;
    color: #f8f8ec;
  }

  button[name="btDeletar"]:hover {
    background-color: #a93226;
  }