.header {
  width: 100%;
  background-color: #213b615b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding-left: 15px;
  color: #ffffff;
}

.header-buttons {
  display: flex;
  gap: 45px;
  padding-right: 15px;
}

.btNavigate {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btNavigate:hover {
  color: #ffffff;
}
